.cl_1{
    
    height: 130px;
    background-color:white;
    width:20%;
}

.cl_2{
    
    height: 130px;
    background-color:blue;
    width:30%;
}
.cl_3{
    height: 130px;
    background-color:red;
    width:40%;
}