#H{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    color:rgb(255, 255, 255);
	font-size:80px;	
    background-color: rgba(167, 156, 1, 0.74);
    position: relative;
    top: 3%; 
    left: 1%;
    padding:20px;
    margin-top:20px;
    width: 95%;
}
#text_1{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    font-size:32px;	
    position: relative;
    top: 30%; 
    left: 70%;
    height: 30%;
    width: 30%;
    color:rgb(255, 255, 255);
    background-color: rgba(167, 156, 1, 0.74);
    padding:20px;
    margin-top:20px;
}

#p_1{
    position: absolute;
    top: 21%; 
    left:7%;
    
    
    
}

#p_2{
    position: absolute;
    top: 85%; 
    left:7%;
    
}

#p_3{
    position: absolute;
    top: 149%; 
    left:7%;
    
}

#text_2{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    font-size:32px;	
    position: relative;
    top: 80%; 
    left: 0%;
    height: 30%;
    width: 30%;
    color:rgb(255, 255, 255);
    background-color: rgba(167, 156, 1, 0.74);
    padding:20px;
    margin-top:20px;
}