body {
    background-color: lightgray;
	font-family: "Times New Roman", serif;
}

.post {
	width: 500px;
	margin: 20px 30px 30px 100px;
	padding: 15px;
}

p {
	text-align: justify;
	text-indent: 20px;
}
.fixed {
    position: fixed;
	top: 50%;
	border: 1px solid black;
	background-color: white;
	float: left;
	width: 100px;
	height: 50px;
}
.fixed a {
     text-decoration: none;
	 color: black;
	 font-family: "Times New Roman", serif;
}