body {
   font-family: sans-serif;
	 background-color: #FFDEAD;
}

div {
   width: 400px;
	 border: 2px solid red;
   background-color: black;
	 margin: 30px;
	 padding: 20px;
}

p {
   color: darkorange;
	 text-align: justify;
	 text-indent: 20px;
	 margin-top: 0;
	 margin-bottom: 0;
}